<!DOCTYPE html>
<html>
  <head>
    <title>Graph Theory</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <!-- Main App Container -->
    <div id="main-app">
      <section class="hero">
        <h1>Graph Theory</h1>
      </section>
      <section class="about">
        <h2>What is Graph Theory?</h2>
        <img src="/static/images/graph.png" alt="Graph Image">
        <p>
          Couldn't solve Step Tracker? Don't worry! Baba's got your back!
        </p>
      </section>
      <section class="create">
        <h2>Create your own graph here!</h2>
        <a href="/graph">
          <button>Graph!</button>
        </a>
      </section>
    </div>
  </body>
</html>
